body {
    background-color: transparent;
    background-image: url(https://img.freepik.com/foto-gratis/fondo-abstracto-caleidoscopio-textura-mosaico-multicolor-patron-caleidoscopio-negro-rosa-hermoso-caleidoscopio-diseno-creativo_182379-304.jpg?w=1480);
}

h1 {
    color: black;
    padding-left: 1em;
    padding-right: 1em;
}

.dibujito {
    padding-top: 25%;
    padding-left: 25%;
    padding-bottom: 25%;
    padding-right: 25%;
}